<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="main.css" rel="stylesheet">

<title>tsk binary format overview</title>
</head>

<body>
<header>
<h1><a href="/">tsk</a></h1>
</header>

<main>
<div id="toc">
<h2>Contents</h2>
<ul>
<li><a href="#description-language-grammar">Description language grammar</a>
</ul>
</div>

<h2>Binary format overview</h2>
<p>Documentation for the tsk binary formats is generated directly from the code that defines the encoder/decoder, so that the documentation stays in sync.</p>
<p>The binary formats are documented using a description language, which is informally explained here.
The intent is to provide enough information for third parties to implement their own encoders and decoders.</p>

<h3 id="description-language-grammar"><a href="#description-language-grammar">Description language grammar</a></h3>
<pre>
{{{grammar}}}
</pre>
</main>
</body>
</html>
