:root {
  --primary: #efb679;
  --primary-light: #fcd6a6;
  --primary-medium: #cd9251;
  --primary-dark: #aa670d;
}

* {
  margin: unset;
  padding: unset;
}

body {
  background: linear-gradient(180deg, #f9f5f0 0%, #e8e4df 100%);
  color: #3d3d3d;
  font-family: sans-serif;
  line-height: 160%;

  margin: 0;
  min-height: 100vh;
}

header {
  border-bottom: 3px solid var(--primary);

  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

header h1 {
  margin: 0;
  text-align: center;
}

main {
  margin: auto;
  max-width: 60rem;
  padding: 1.5rem;
}

*:target {
  background-color: var(--primary-light);
}

h3:target, h4:target, h5:target, h6:target {
  background-color: unset;
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.25em;
}

a {
  color: var(--primary-dark);
  text-underline-offset: 0.15em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

p + *, pre + * {
  margin-top: 1rem;
}

h2, h3, h4, h5, h6 {
  letter-spacing: 0.025em;
  text-transform: uppercase;

  margin-bottom: 0.75rem;
}

h2 {
  font-size: 1.3rem;

  border-bottom: 1px solid var(--primary);
  padding-bottom: 0.25rem;
}

h3 {
  font-size: 1.1rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

.list-header + ul {
  list-style-type: none;
  padding: 0;
}

.list-header + ul > li {
  border-bottom: 1px solid #e8e4df;

  padding-bottom: 0.75rem;
}

.list-header + ul > li a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}

.list-header + ul > li a:hover {
  color: var(--primary-dark);
}

a.help {
  color: var(--primary-medium);
}

#toc {
  float: right;

  margin: 1rem;
  padding: 1rem;

  background-color: #f9f5f0;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
}

#toc h2 {
  border-bottom: none;
}

#toc ul {
  list-style-type: none;
}
